{
  "overrides": [
    {
      "files": ["*.js"],
      "options": {
        "tabWidth": 4,
        "useTabs": true,
        "printWidth": 120,
        "trailingComma": "all",
        "singleQuote": true
      }
    }
  ]
}
